@font-face{
    font-family: Market Deco;
    src: url(Fonts/Market_Deco.ttf);
}
h1, h2{
    font-family: Market Deco;
}
a:link{
    text-decoration: none;
}
.a_ignore:link{
    text-decoration: solid;
    color: #03c4a1;
}
a:hover{    
    color: #F7BF55;
}
.service a{
    transition: .2s linear;
    color: #000
}
.con_us a{
    transition: .2s linear;
    color: #6ec7fa;
    text-decoration: solid;
}
.service a{
    transition: .2s linear;
    color: #000
}
.service a:visited{
    transition: .2s linear;
    color: #03c4a1;
}
footer a{
    color: #fff
}
a:visited:hover{
    color:#6ec7fa;
}
button{
    transition: .2s linear;
}
button:hover{
    background-color:#6ec7fa;
    border-color:#6ec7fa;    
}
input[type=submit] {
    transition: .02s linear;
}
input[type=submit]:hover {
    background-color: #6ec7fa;
    border-color: #6ec7fa;
    color: #FFF;
}
:required{
    border: 2px solid #FA6770;
}
textarea{
    resize: none;
}
a:visited{
    color: #03c4a1;
}
