

h1, h2{
    font-family: Market Deco;
}

@font-face{
    font-family: Market Deco;
    src: url(Fonts/Market_Deco.ttf);
}

.a_ignore:link{
    text-decoration: solid;
    color: #007FFC;
}

a:hover{    
    color: #F7BF55;
}
a:link{
    text-decoration: none;
}

.service a{
    transition: .2s linear;
    color: #000
}

.con_us a{
    transition: .2s linear;
    color: #007FFC;
    text-decoration: solid;
}

.service a{
    transition: .2s linear;
    color: #000
}

.service a:visited{
    transition: .2s linear;
    color: #FA6770;
}


footer a{
    color: #fff
}

a:visited:hover{
    color: #F7BF55;
}

button{
    transition: .2s linear;
}

input[type=submit] {
    transition: .02s linear;
}
input[type=submit]:hover {
    background-color: #F7BF55;
    border-color: #F7BF55;;
}

:required{
    border: 2px solid #FA6770;
}

button:hover{
    background-color: #F7BF55;
    border-color: #F7BF55;;
}

textarea{
    resize: none;
}

a:visited{
    color: #FA6770;
}
