.footer_style {
    width: 1440px;
    background-color: #16133e;
    color: #FFF;
    box-sizing: border-box;
    padding: 100px 150px;
}

.footer_h{
    margin: 0px;
    height: 32px;
    line-height: 20px;
}

.footer_info{
    vertical-align: top;
    width: 250px;
    display: inline-block;
    margin: 0 50px;
    box-sizing: border-box;
}
.footer_nav{
    vertical-align: top;
    width: 630px;
    display: inline-block;
    margin: 0;
    margin-left: 150px;
}

.footer_ul{   
    width: 730px;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.footer_ul_child{
    margin: 0 auto;
    padding: 0px;
    list-style: none;
}
.footer_ul_img{
    list-style: none;
    width: 250px;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}
.footer_li{
    margin-right: 90px;
    vertical-align: top;
    display: inline-block;
}

.footer_li_child{
    display: block;
    margin-bottom: 15px;
}
