.body_style{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}     

.menu{
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.navigation{
    flex-grow: 4;
    display: flex;
    vertical-align: middle;
    justify-content: space-around;
}

.navigation ul{
    padding-left: 100px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-grow: 1;  
}
.navigation ul li{
    margin: 0px 30px;
}

.logo{
    flex-grow: 0;
}

.menu_btn{
    flex-grow: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu_btn button{
    max-width: 110px;
    width: 100%;
    max-height: 50px;
    height: 100%;
    margin: 0px 8px;
    border: 2px solid #16133E;
    border-radius: 8px;
    font-weight: 600;    
}
.login{
  color: #FFF;
  background-color: #16133E;  
}
.sign_up{
  color: #16133E;
  background-color: #FFF;  
}